*::selection {
	background: rgba(255, 255, 255, 0.2);
}

*::-moz-selection {
	background: rgba(255, 255, 255, 0.2);
}

*::-webkit-selection {
	background: rgba(255, 255, 255, 0.2);
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url('../fonts/Open-Sans/OpenSans-Light.ttf');
}
@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/Open-Sans/OpenSans-Regular.ttf');
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'OpenSans-Regular';
    font-weight: normal;
    color: rgb(246, 246, 246);
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#ajax-container {
  width: 100%;
  height: 100%;
}
