*::selection {
	background: rgba(255, 255, 255, 0.2);
}

*::-moz-selection {
	background: rgba(255, 255, 255, 0.2);
}

*::-webkit-selection {
	background: rgba(255, 255, 255, 0.2);
}

@font-face
{
	font-family: 'OpenSans-Light';
	src: url('../fonts/Open-Sans/OpenSans-Light.ttf');
}
@font-face
{
	font-family: 'OpenSans-Regular';
	src: url('../fonts/Open-Sans/OpenSans-Regular.ttf');
}

ul
{
		list-style-type: none;
		padding: 0;
		margin: 0;
}

h1
{
	margin: 0;
	font-family: 'OpenSans-Light';
	font-weight: normal;
	font-size: 3em;
	color: rgba(255, 255, 255, 0.9);
	line-height: 100%;
}
h2
{
	margin: 0;
	font-family: 'OpenSans-Light';
	font-weight: normal;
	font-size: 2em;
	color: rgba(255, 255, 255, 0.9);
	line-height: 100%;
}
h3
{
	margin: 0;
	font-family: 'OpenSans-Light';
	font-weight: normal;
	font-size: 1.7em;
	color: rgba(255, 255, 255, 0.9);
}
p
{
	margin: 0;
	font-family: 'OpenSans-Light';
	font-weight: normal;
	font-size: 1.em;
	color: rgba(255, 255, 255, 0.9);
}

html
{
	height: 100%;
}

body
{
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: rgb(41, 212, 186);
	background: linear-gradient(rgb(41, 212, 186), rgb(212, 143, 41));
}

header
{
	position: absolute;
	width: 100%;
	height: 45px;
	box-sizing: border-box;
	overflow: hidden;
	padding-left: 20px;
	background-color: transparent;
}
header ul
{
	height: 45px;
	padding-top: 15px;
}
header ul li
{
	height: 30px;
}
header #header-icon
{
	background-image: url('../img/icon_small.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	width: 100px;
}

section#ajax-loader
{
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
section#ajax-loader #ajax-container
{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

input[type="text"], input[type="password"]
{
	height: 45px;
	line-height: 45px;
	width: 100%;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.9);
	border-radius: 50px;
	box-sizing: border-box;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;

	font-family: 'OpenSans-Light';
	font-weight: normal;
	font-size: 1.5em;
	color: rgba(255, 255, 255, 0.9);
}

.button
{
	height: 45px;
	line-height: 43px;
	width: 100%;
	border: 1px solid rgba(255, 255, 255, 0.9);
	border-radius: 50px;
	box-sizing: border-box;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}

.vertical-align
{
	height: 100%;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}

.form-check
{
	display: none;
	position: absolute;
	top: 0;
	right: -30px;
}
.form-check > *
{
	color: rgba(255, 255, 255, 0.7);
}
.form-ballot
{
	display: none;
	position: absolute;
	top: 0;
	right: -25px;
}
.form-ballot > *
{
	color: rgba(223, 52, 52, 0.5);
}
