*::selection {
	background: rgba(255, 255, 255, 0.2);
}

*::-moz-selection {
	background: rgba(255, 255, 255, 0.2);
}

*::-webkit-selection {
	background: rgba(255, 255, 255, 0.2);
}

@font-face
{
	font-family: 'OpenSans-Light';
	src: url('../fonts/Open-Sans/OpenSans-Light.ttf');
}
@font-face
{
	font-family: 'OpenSans-Regular';
	src: url('../fonts/Open-Sans/OpenSans-Regular.ttf');
}

ul
{
		list-style-type: none;
		padding: 0;
		margin: 0;
}

h1
{
	margin: 0;
	font-family: 'OpenSans-Light';
	font-weight: normal;
	font-size: 7.5em;
	color: rgba(0, 0, 0, 0.8);
	line-height: 100%;
}
h2
{
	margin: 0;
	font-family: 'OpenSans-Light';
	font-weight: normal;
	font-size: 2.5em;
	color: rgba(0, 0, 0, 0.8);
	line-height: 100%;
}
h3
{
	margin: 0;
	font-family: 'OpenSans-Light';
	font-weight: normal;
	font-size: 1.7em;
	color: rgba(238, 238, 238, 1);
}

html
{
	height: 100%;
}

body
{
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: rgb(238, 238, 238);
}

header
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	background-color: rgba(100, 58, 222, 0.8);
	position: absolute;
	width: 100%;
	box-sizing: border-box;
}

section#ajax-loader
{
	height: 100%;
	width: 100%;
}
section#ajax-loader #ajax-container
{
	height: 100%;
	width: 100%;
}

.button
{
	height: 50px;
	line-height: 47px;
	min-width: 150px;
	border: 1px solid rgba(238, 238, 238, 0.8);
	border-radius: 50px;
	box-sizing: border-box;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}

.vertical-align
{
	height: 100%;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}
