*::selection {
	background: rgba(255, 255, 255, 0.2);
}

*::-moz-selection {
	background: rgba(255, 255, 255, 0.2);
}

*::-webkit-selection {
	background: rgba(255, 255, 255, 0.2);
}

@font-face
{
	font-family: 'OpenSans-Light';
	src: url('../fonts/Open-Sans/OpenSans-Light.ttf');
}
@font-face
{
	font-family: 'OpenSans-Regular';
	src: url('../fonts/Open-Sans/OpenSans-Regular.ttf');
}

ul
{
		list-style-type: none;
		padding: 0;
		margin: 0;
}

h1
{
	margin: 0;
	font-family: 'OpenSans-Regular';
	font-weight: normal;
	font-size: 3em;
	color: rgba(255, 255, 255, 0.9);
	line-height: 100%;
}
h2
{
	margin: 0;
	font-family: 'OpenSans-Light';
	font-weight: normal;
	font-size: 2em;
	color: rgba(255, 255, 255, 0.9);
	line-height: 100%;
}
h3
{
	margin: 0;
	font-family: 'OpenSans-Light';
	font-weight: normal;
	font-size: 1.7em;
	color: rgba(255, 255, 255, 0.9);
}
h4
{
	margin: 0;
	font-family: 'OpenSans-Light';
	font-weight: normal;
	font-size: 1.3em;
	color: rgba(255, 255, 255, 0.9);
}
p
{
	margin: 0;
	font-family: 'OpenSans-Light';
	font-weight: normal;
	font-size: 1.em;
	color: rgba(255, 255, 255, 0.9);
}

html
{
	height: 100%;
}

body
{
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: rgb(41, 212, 186);
	background: linear-gradient(rgb(41, 181, 212), rgb(36, 242, 144));
}

header
{
	position: absolute;
	width: 100%;
	height: 75px;
	box-sizing: border-box;
	overflow: hidden;
	padding-left: 20px;
	padding-right: 20px;
	background-color: transparent;
}
header nav ul
{
	height: 75px;
	display: inline-block;
	vertical-align: middle;
}
header nav ul#right-ul{
	float: right;
	padding-right: 10px;
}
header nav ul li
{
	height: 45px;
	margin-top: 15px;
}
header #header-icon
{
	margin-top: 15px;
	background-image: url('../img/icon_small.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	width: 100px;
	height: 30px;
}

section#nav-bar{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 0;
	max-width: 150px;
	background: linear-gradient(rgb(41, 181, 212), rgb(36, 242, 144));
	box-shadow: 0px 0 40px 0px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}
section#nav-bar nav{
	width: 100%;
}
section#nav-bar nav ul li{
	width: 100%;
	text-align: center;
	height: 60px;
	line-height: 59px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	box-sizing: border-box;
	cursor: pointer;
}

section#ajax-loader
{
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
section#ajax-loader #ajax-container
{
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding-top: 45px;
}

#background-container{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.4);

	display: none;
}
#background-container #notification-popup-container{
	position: absolute;;
	margin: auto;
	top: 50%;
	left: 50%;
	min-width: 300px;
	width: 30%;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	overflow: hidden;

	display: none;
}
#background-container #notification-popup-container h3{
	color: rgba(0, 0, 0, 0.5);
}
#background-container #notification-popup-container h4{
	color: rgba(0, 0, 0, 0.5);
}
#background-container #notification-popup-container p{
	color: rgba(0, 0, 0, 0.5);
}
#background-container #notification-popup-container #button-container{
	margin-top: 15px;
}
#background-container #notification-popup-container #button-container .button{
	width: 19%;
	float: right;
}

.ajax-resizable-container{
	width: 100%;
	box-sizing: border-box;
	position: relative;
	top: 50%;
}

.user-form #title-container{
  width: 100%;
  text-align: center;
  margin-bottom: 4px;
}
.user-form #text-container{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.user-form #form-fb-container{
  width: 250px;
  margin: auto;
  text-align: center;
}
.user-form #form-separator{
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.user-form #form-container{
  width: 250px;
  margin: auto;
  text-align: center;
}
.user-form #form-container ul{
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.user-form #form-container #button-container{
  margin-top: 25px;
}


input[type="email"], input[type="text"], input[type="password"]
{
	height: 45px;
	line-height: 45px;
	width: 100%;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.9);
	border-radius: 50px;
	box-sizing: border-box;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	outline: none;

	font-family: 'OpenSans-Light';
	font-weight: normal;
	font-size: 1.3em;
	color: rgba(255, 255, 255, 0.9);
}
input:placeholder-shown {
  color: rgba(255, 255, 255, 0.8);
}
input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.button
{
	height: 45px;
	line-height: 44px;
	width: 100%;
	border: 1px solid rgba(255, 255, 255, 0.9);
	border-radius: 50px;
	box-sizing: border-box;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
}
.button > *
{
	display: inline-block;
	vertical-align: top;
}
.button .button-icon
{
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
}
.button .button-icon img
{
	display: inline-block;
	vertical-align: -9px;
}

.vertical-align
{
	height: 100%;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}

.form-error
{
	background-color: rgba(223, 52, 52, 0.7);
	height: 35px;
	line-height: 35px;
	border-radius: 50px;
	margin-top: 5px;

	display: none;
}

.form-check
{
	display: none;
	position: absolute;
	top: 0;
	right: -30px;
}
.form-check > *
{
	color: rgba(255, 255, 255, 0.7);
}
.form-ballot
{
	display: none;
	position: absolute;
	top: 0;
	right: -30px;
}
.form-ballot > *
{
	color: rgba(223, 52, 52, 0.5);
}
