#home-container
{
  width: 100%;
	box-sizing: border-box;
  position: relative;
  top: 50%;
}

#home-container #infos-container
{
	box-sizing: border-box;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}
#home-container #infos-container #title-container
{
  width: 361px;
  height: 115px;
  background-image: url('../img/icon.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  margin: auto;
  margin-bottom: 20px;
  opacity: 0.8;
}
#home-container #infos-container #text-container
{
  width: 100%;
  text-align: center;
  opacity: 0.9;
}
#home-container #infos-container #button-container
{
  width: 425px;
  margin: auto;
  padding-top: 1.5%;
}
#home-container #infos-container #button-container .button
{
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}
