#signup-container
{
  width: 100%;
  box-sizing: border-box;
  position: relative;
  top: 50%;
}
#signup-container #title-container
{
  width: 100%;
  text-align: center;
}
#signup-container #text-container
{
  width: 100%;
  text-align: center;
}
#signup-container #form-container
{
  width: 250px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
#signup-container #form-container ul
{
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
#signup-container #form-container #button-container
{
  margin-top: 25px;
}
